<html xmlns="http://www.w3.org/1999/xhtml" xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:ui="http://java.sun.com/jsf/facelets">
<ui:composition>
<c:set var="base" value="#{request.contextPath}"/>
<c:if test="${empty group}"><c:set var="group" value="main"/></c:if>
<c:if test="${not empty param.debug}">
    <c:set var="debugAssets" value="${param.debug}" scope="session"/>
</c:if>
        <link rel="stylesheet" type="text/css" href="${base}/webjars/bootswatch/3.0.0/spacelab/bootstrap.min.css"/>
        <link rel="stylesheet" type="text/css" href="${base}/styles/style.css"/>
		<link rel="stylesheet" type="text/css" href="${base}/webjars/font-awesome/4.2.0/css/font-awesome.min.css"/>
		<link rel="stylesheet" type="text/css" href="${base}/webjars/flag-icon-css/0.6.3/css/flag-icon.css"/>
        <link rel="stylesheet" type="text/css" href="${base}/webjars/bootstrap-slider/4.0.8/css/bootstrap-slider.min.css"/>
		<!-- link rel="stylesheet" type="text/css" href="${base}/webjars/jquery-ui-themes/11.1.4/css/jquery-ui.css"/ -->
		<!-- link rel="stylesheet" href="https://code.jquery.com/ui/1.10.4/themes/flick/jquery-ui.css"/ -->
		<!-- link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css"/ -->

        <!-- script type="text/javascript" src="${base}/webjars/angularjs/1.3.15/angular.min.js"></script>
        <script type="text/javascript" src="${base}/webjars/angular-ui/0.4.0/angular-ui.min.js"></script -->
        <!-- script type="text/javascript" src="${base}/webjars/jquery/2.1.3/jquery.min.js"></script -->
        <script type="text/javascript" src="${base}/webjars/jquery-ui/1.11.4/jquery-ui.min.js"></script>
        <!-- script type="text/javascript" src="${base}/webjars/globalize/1.0.0-alpha.2/globalize.min.js"></script -->
        <!-- script type="text/javascript" src="${base}/webjars/jQuery-ui-Slider-Pips/1.7.5/jquery-ui-slider-pips.min.js"></script -->
        <script type="text/javascript" src="${base}/webjars/bootstrap-slider/4.0.8/bootstrap-slider.min.js"></script>
		<!-- script type="text/javascript" src="${base}/webjars/bootstrap-filestyle/1.1.2/bootstrap-filestyle.js"> </script -->
        <!-- script type="text/javascript" src="${base}/webjars/jquery/1.8.3/jquery.min.js"></script -->
        <!-- script type="text/javascript" src="${base}/webjars/jquery/1.11.1/jquery.min.js"></script -->
        <script type="text/javascript" src="${base}/webjars/bootstrap/3.0.2/js/bootstrap.min.js"></script>
        <!-- script type="text/javascript" src="${base}/webjars/jquery-cookie/1.3.1/jquery.cookie.js"></script -->
        <script type="text/javascript" src="${base}/scripts/script.js"></script>
</ui:composition>
</html>