body {
	/*	padding-top: 80px;*/
	
}

.navbar-brand {
	color: #FFFFFF;
	font-weight: normal;
	height: 50px;
	margin-left: 0;
	margin-right: 20px;
	margin-left: 20px;
	padding-right: 0px;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 0 0 30px
		rgba(255, 255, 255, 0.125);
}

.padding-1 {
	padding-left: 1px !important;
	padding-right: 1px !important;
}

.nav-stacked .nav-header {
	margin-bottom: 10px;
	font-size: 18px;
}

.logo-header {
	color: #fff;
	font-size: 100px;
	margin-top: 20px;
	-webkit-font-smoothing: antialiased !important;
	-moz-osx-font-smoothing: grayscale;
	/*    -webkit-text-stroke: 0.5px #000;*/
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
}

.desaturate {
	-webkit-filter: grayscale(100%);
	-moz-filter: grayscale(100%);
	filter: grayscale(100%);
}

.paysafecard-pin {
	margin-top: 2px;
	margin-bottom: 2px;
}

.social {
	color: #bdbdbd;
	font-size: 30px;
	padding: 18px;
}

.copyright-application {
	margin-top: 5px;
}

.footer-left {
	/*	margin-top: 30px;*/
	margin-left: 30px;
}

.footer-right {
	/*	margin-top: 30px;*/
	/*	margin-right: 30px;*/
	
}

.email-label {
	margin-top: 2em;
	display: inline-block;
	color: rgba(255, 255, 255, 0.6);
}

.payment-method-label-payments {
	/*	margin-top: 2em;*/
	display: inline-block;
	color: rgba(255, 255, 255, 0.6);
}

.payment-method-label {
	margin-top: 2em;
	display: inline-block;
	color: rgba(255, 255, 255, 0.6);
}

.email-wrapper {
	/*	display: table;*/
	text-align: center;
	/*	margin: 0 auto;*/
	margin-left: 80px;
	margin-right: 80px;
	vertical-align: top;
	font-size: 18px;
}

.email-wrapper-footer {
	font-size: 25px;
	color: #FFFFFF;
	display: table;
	padding-top: 80px;
}

.nav-stacked .nav-header {
	margin-bottom: 10px;
	font-size: 18px;
}

.logo-header {
	color: #fff;
	font-size: 100px;
	margin-top: 20px;
	-webkit-font-smoothing: antialiased !important;
	-moz-osx-font-smoothing: grayscale;
	/*    -webkit-text-stroke: 0.5px #000;*/
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
}

#about-side-menu a {
	color: #808080;
	text-decoration: none;
}

active {
	color: #ffffff;
	text-decoration: none;
	background: rgba(122, 126, 128, 0.5);
}

#about-side-menu a:focus, #about-side-menu a:active, #about-side-menu a:hover
	{
	color: #ffffff;
	text-decoration: none;
	background: rgba(122, 126, 128, 0.5);
}

.desaturate {
	-webkit-filter: grayscale(100%);
	-moz-filter: grayscale(100%);
	filter: grayscale(100%);
}

.social {
	color: #bdbdbd;
	font-size: 30px;
	padding: 9px;
}

.liquidity {
	font-size: 11px;
}

.copyright-website {
/*	margin-top: 40px;*/
	margin-top: 5px;
	margin-bottom: 0px;
	font-size: 12px;
}

.flags {
	margin-top: 20px;
	font-size: 20px;
}

.copyright-application {
	margin-top: 5px;
}

.footer-left {
	margin-left: 30px;
}

.footer-right {
	/*	margin-right: 30px;*/
	font-size: 14px;
}

.footer-right-about {
	margin-right: 30px;
}

.email-label {
	margin-top: 2em;
	display: inline-block;
	color: rgba(255, 255, 255, 0.6);
}

.email-wrapper-footer {
	padding-bottom: 10px;
	margin-top: 2em;
	display: inline-block;
	font-size: 25px;
	color: #000000;
	display: table;
	text-align: center;
	margin: 0 auto;
	vertical-align: top;
}

.email-wrapper-button {
	padding-left: 10px;
}

hr {
	position: relative;
	border: none;
	display: block;
	height: 1px;
	border: 0;
	/*	border-top: 1px solid #ccc;*/
	margin: 1em 0;
	padding: 0;
	-webkit-margin-before: 0.5em;
	-webkit-margin-after: 0.5em;
	-webkit-margin-start: auto;
	-webkit-margin-end: auto;
}

hr:before {
	content: " ";
	position: absolute;
	top: 0;
	left: 25%;
	width: 50%;
	height: 2px;
	background: #ccc;
}

.about-details-title {
	margin: 5px 30px 5px;
	border-bottom: 1px solid #ddd;
}

.payment-method-title {
	color: #fff;
	margin: 5px 30px 5px;
	border-bottom: 1px solid #ddd;
}

.about-details {
	margin: 5px;
	padding: 20px 5px 5px;
	border: 1px solid #ddd;
	min-height: 250px;
	border-radius: 5px;
	box-shadow: 0 0 3px -1px rgba(0, 0, 0, 0.3);
	padding: 20px 5px 5px;
}

.about-details-text {
	text-align: justify;
}

.about-details-section {
	margin-top: 50px;
}

.main-section {
	margin-top: 50px;
}

.main-section-text {
	text-align: justify;
	margin-top: 30px;
}

.main-details {
	margin: 5px;
	padding: 20px 5px 5px;
	border: 1px solid #ddd;
	min-height: 250px;
	border-radius: 5px;
	box-shadow: 0 0 3px -1px rgba(0, 0, 0, 0.3);
	padding: 20px 5px 5px;
}

.fees-details {
	margin: 5px;
	padding: 20px 5px 5px;
	border: 1px solid #ddd;
	min-height: 150px;
	border-radius: 0px;
	box-shadow: 0 0 3px -1px rgba(0, 0, 0, 0.3);
	padding: 20px 5px 5px;
}

.payment-method {
	margin: 5px;
	padding: 20px 5px 5px;
	border: 1px solid #ddd;
	min-height: 200px;
	/*	width: 280px;*/
	height: 290px;
	border-radius: 0px;
	box-shadow: 0 0 3px -1px rgba(0, 0, 0, 0.3);
	padding: 20px 5px 5px;
}

.fees-details-text {
	text-align: centered;
}

.vmiddle {
	vertical-align: middle;
}

.table-cell {
	display: table-cell;
}

body#login {
	padding-bottom: 40px;
}

#header .navbar-brand {
	padding-right: 15px;
	margin-left: 15px;
}

#header .navbar-right {
	padding-right: 15px;
	margin-right: 15px;
}

#header .navbar-left {
	padding-left: 15px;
	margin-left: 15px;
}

#header a:focus, #header a:active, #header a:hover {
	color: #ffffff;
	text-decoration: none;
	background: rgba(122, 126, 128, 0.5);
}

/* added to fix non clickable dropdown nested menus on mobile browsers APF-1384 */
.navbar .dropdown-backdrop {
	position: static;
}

#switchLocale {
	position: absolute;
	right: 10px;
}

h1, h2 {
	margin-bottom: 10px;
}

#content {
	padding-bottom: 60px;
}

.row h2 {
	margin-top: 0;
}

/* FORMS */
.controls.readonly {
	padding-top: 5px;
}

.well.form-horizontal .form-actions {
	margin-bottom: 0;
}

.btn-group {
	margin-bottom: 10px;
}

.btn-group .btn, .form-actions .btn {
	margin-left: 5px;
}

#search {
	float: right;
	margin-top: -40px;
	width: 250px;
}

#search input[type="text"] {
	display: inline-block;
}

.form-signin {
	max-width: 330px;
	padding: 15px;
	margin: 0 auto;
}

.form-signin .form-signin-heading, .form-signin .checkbox {
	margin-bottom: 10px;
}

.form-signin .checkbox {
	font-weight: normal;
}

.form-signin .form-control {
	position: relative;
	font-size: 16px;
	height: auto;
	padding: 10px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.form-signin .form-control:focus {
	z-index: 2;
}

.form-signin input[type="text"] {
	margin-bottom: -1px;
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
}

.form-signin input[type="password"] {
	margin-bottom: 10px;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}

#login p {
	/*	text-align: center*/
	
}

#login .centered {
	text-align: center
}

/* When using Wicket tag id can be overridden - using class here seems to more universal */
.login p {
	/*	text-align: center*/
	
}

/* TABLES */
th.sorted a, th.sortable a {
	display: block;
}

.table th.order1 a {
	background-image: url(../images/arrow_down.png);
}

.table th.order2 a {
	background-image: url(../images/arrow_up.png);
}

.table th.sorted a, .table th.sortable a {
	background-position: right;
	background-repeat: no-repeat;
	display: block;
}

div.exportlinks a {
	text-decoration: none;
}

div.exportlinks span {
	background-repeat: no-repeat;
	background-position: 1px 2px;
}

span.csv {
	background-image: url(../images/ico_file_csv.png);
}

span.excel {
	background-image: url(../images/ico_file_excel.png);
}

span.pdf {
	background-image: url(../images/ico_file_pdf.png);
}

span.xml {
	background-image: url(../images/ico_file_xml.png);
}

span.export {
	cursor: pointer;
	display: inline-block;
	padding: 0 4px 1px 20px;
}

span.pagebanner {
	display: block;
	margin: 0 0 0 10px;
	padding: 2px 4px 2px 0;
}

span.pagelinks {
	display: block;
	font-size: .95em;
	margin-bottom: 5px;
	margin-top: -18px;
	padding: 2px 0 2px 0;
	text-align: right;
	width: 80%;
}

/* Set the fixed height of the footer here */
#footer {
	background-color: #f5f5f5;
}

/* FOOTER */
#footer {
	clear: both;
	margin: 0 auto;
	padding: 10px 0 20px 0;
	border-top: 1px solid #f0f0f0;
	text-align: center;
	background-color: white;
	color: #808080;
	font-size: 0.9em;
}

#footer a {
	color: #808080;
	text-decoration: none;
	/*	margin-left: 5px;*/
}

#footer a:focus, #footer a:active, #footer a:hover {
	color: #000000;
	text-decoration: none;
}

#footer p {
	margin: 0;
}

/* FOOTER_MAIN */
#footer_main {
	color: #ffffff;
	font-size: 0.9em;
}

#footer_main a {
	color: #ffffff;
	text-decoration: none;
}

#footer_main a:focus, #footer_main a:active, #footer_main a:hover {
	/*	color: #ffffff;
	text-decoration: none;
	background: rgba(122, 126, 128, 0.5);*/
	color: #000000;
	text-decoration: none;
}

#footer_main p {
	margin: 0;
}

/* Responsive
-------------------------------------------------- */

/* Desktop large
------------------------- */
@media ( min-width : 1200px) {
}

/* Desktop
------------------------- */
@media ( max-width : 980px) {
}

/* Tablet to desktop
------------------------- */

/* Tablet
------------------------- */
@media ( max-width : 767px) {
}

/* Landscape phones
------------------------- */
@media ( max-width : 480px) {
	#search {
		float: none;
		margin-top: 0;
	}
}

/* Wicket */
.table thead tr th.wicket_orderDown a {
	background-image: url(../images/arrow_down.png) !important;
	background-position: right center;
	background-repeat: no-repeat;
	display: block;
	/*padding-right: 15px;*/
}

.table thead tr th.wicket_orderUp a {
	background-image: url(../images/arrow_up.png) !important;
	background-position: right center;
	background-repeat: no-repeat;
	display: block;
}

/* Fix for Bootstrap theme errors in PrimeFaces: http://forum.primefaces.org/viewtopic.php?f=9&t=19250&start=10 */
.ui-state-error, .ui-widget-content .ui-state-error, .ui-widget-header .ui-state-error
	{
	background: url("") repeat-x scroll 50% 50% #CD0A0A;
	border: 1px solid #CD0A0A;
	color: #FFFFFF;
}

text-align








:




 




center








;
margin








:




 




0
auto








;
vertical-align








:




 




top








;
font-size








:




 




18
px








;
}
.email-wrapper-button {
	padding-left: 10px;
}

hr {
	position: relative;
	border: none;
	display: block;
	height: 1px;
	border: 0;
	/*	border-top: 1px solid #ccc;*/
	margin: 1em 0;
	padding: 0;
	-webkit-margin-before: 0.5em;
	-webkit-margin-after: 0.5em;
	-webkit-margin-start: auto;
	-webkit-margin-end: auto;
}

hr:before {
	content: " ";
	position: absolute;
	top: 0;
	left: 25%;
	width: 50%;
	height: 2px;
	background: #ccc;
}

.sub-menu li {
	padding-left: 30px;
}

.about-details {
	margin: 5px;
	padding: 20px 5px 5px;
	border: 1px solid #ddd;
	min-height: 250px;
	border-radius: 5px;
	box-shadow: 0 0 3px -1px rgba(0, 0, 0, 0.3);
	padding: 20px 5px 5px;
}

.about-details-text {
	text-align: justify;
}

.about-details-section {
	margin-top: 50px;
}

.about-page-text {
	text-align: justify;
}

.about-page-new-section {
	margin-top: 50px;
}

.main-section {
	margin-top: 50px;
}

body {
	padding-top: 80px;
}

.body {
	margin-top: -80px;
}

.main-section-text {
	text-align: justify;
	margin-top: 30px;
}

.main-details {
	margin: 5px;
	padding: 20px 5px 5px;
	border: 1px solid #ddd;
	min-height: 250px;
	border-radius: 5px;
	box-shadow: 0 0 3px -1px rgba(0, 0, 0, 0.3);
	padding: 20px 5px 5px;
}

.vmiddle {
	vertical-align: middle;
}

.table-cell {
	display: table-cell;
}

.headerwrap {
	background: url(../images/cashBTC_wallpaper2.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	width: 100%;
	height: 100%;
	margin-top: -50px;
	padding-top: 120px;
	text-align: center;
	background-attachment: relative;
	min-height: 100%;
	/*	min-height: 800px;*/
	color: #FFFFFF;
	-webkit-background-size: 100%;
	-moz-background-size: 100%;
	-o-background-size: 100%;
	background-size: 100%;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	font-size: 25px;
}

body#login {
	padding-bottom: 40px;
}

#header .navbar-brand {
	padding-right: 15px;
	margin-left: 15px;
}

#header .navbar-right {
	padding-right: 15px;
	margin-right: 15px;
}

#header a:focus, #header a:active, #header a:hover {
	color: #ffffff;
	text-decoration: none;
	background: rgba(122, 126, 128, 0.5);
}

/* added to fix non clickable dropdown nested menus on mobile browsers APF-1384 */
.navbar .dropdown-backdrop {
	position: static;
}

#switchLocale {
	position: absolute;
	right: 10px;
}

h1, h2 {
	margin-bottom: 10px;
}

#content {
	padding-bottom: 0px;
}

.row h2 {
	margin-top: 0;
}

/* FORMS */
.controls.readonly {
	padding-top: 5px;
}

.well.form-horizontal .form-actions {
	margin-bottom: 0;
}

.btn-group {
	margin-bottom: 10px;
}

.btn-group .btn, .form-actions .btn {
	margin-left: 5px;
}

#search {
	float: right;
	margin-top: -40px;
	width: 250px;
}

#search input[type="text"] {
	display: inline-block;
}

.form-signin {
	max-width: 330px;
	padding: 15px;
	margin: 0 auto;
}

.form-signin .form-signin-heading, .form-signin .checkbox {
	margin-bottom: 10px;
}

.form-signin .checkbox {
	font-weight: normal;
}

.form-signin .form-control {
	position: relative;
	font-size: 16px;
	height: auto;
	padding: 10px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.form-signin .form-control:focus {
	z-index: 2;
}

.form-signin input[type="text"] {
	margin-bottom: -1px;
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
}

.form-signin input[type="password"] {
	margin-bottom: 10px;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}

#login p {
	/*	text-align: center*/
	
}

#login .centered {
	text-align: center
}

/* When using Wicket tag id can be overridden - using class here seems to more universal */
.login p {
	/*	text-align: center*/
	
}

/* TABLES */
th.sorted a, th.sortable a {
	display: block;
}

.table th.order1 a {
	background-image: url(../images/arrow_down.png);
}

.table th.order2 a {
	background-image: url(../images/arrow_up.png);
}

.table th.sorted a, .table th.sortable a {
	background-position: right;
	background-repeat: no-repeat;
	display: block;
}

div.exportlinks a {
	text-decoration: none;
}

div.exportlinks span {
	background-repeat: no-repeat;
	background-position: 1px 2px;
}

span.csv {
	background-image: url(../images/ico_file_csv.png);
}

span.excel {
	background-image: url(../images/ico_file_excel.png);
}

span.pdf {
	background-image: url(../images/ico_file_pdf.png);
}

span.xml {
	background-image: url(../images/ico_file_xml.png);
}

span.export {
	cursor: pointer;
	display: inline-block;
	padding: 0 4px 1px 20px;
}

span.pagebanner {
	display: block;
	margin: 0 0 0 10px;
	padding: 2px 4px 2px 0;
}

span.pagelinks {
	display: block;
	font-size: .95em;
	margin-bottom: 5px;
	margin-top: -18px;
	padding: 2px 0 2px 0;
	text-align: right;
	width: 80%;
}

/* Set the fixed height of the footer here */
#footer {
	background-color: #f5f5f5;
}

#footer-home {
	background-color: #626469;
	margin-top: 20px;
	/*	background: #626469;*/
	height: 337px;
}

#payment-methods a {
	color: #ffffff;
	text-decoration: none;
}

#footer-home a {
	color: #ffffff;
	text-decoration: none;
	/*	margin-left: 5px;*/
}

#footer-home a:focus, #footer-home a:active, #footer-home a:hover {
	color: #000000;
	text-decoration: none;
}

/* FOOTER */
#footer {
	clear: both;
	margin: 0 auto;
	padding: 10px 0 20px 0;
	border-top: 1px solid #f0f0f0;
	text-align: center;
	background-color: white;
	color: #808080;
	font-size: 0.9em;
}

#footer a {
	color: #808080;
	text-decoration: none;
	/*	margin-left: 5px;*/
}

#footer a:focus, #footer a:active, #footer a:hover {
	color: #000000;
	text-decoration: none;
}

#footer p {
	margin: 0;
}

/* Responsive
-------------------------------------------------- */

/* Desktop large
------------------------- */
@media ( min-width : 1200px) {
}

/* Desktop
------------------------- */
@media ( max-width : 980px) {
}

/* Tablet to desktop
------------------------- */

/* Tablet
------------------------- */
@media ( max-width : 767px) {
}

/* Landscape phones
------------------------- */
@media ( max-width : 480px) {
	#search {
		float: none;
		margin-top: 0;
	}
}

/* Wicket */
.table thead tr th.wicket_orderDown a {
	background-image: url(../images/arrow_down.png) !important;
	background-position: right center;
	background-repeat: no-repeat;
	display: block;
	/*padding-right: 15px;*/
}

.table thead tr th.wicket_orderUp a {
	background-image: url(../images/arrow_up.png) !important;
	background-position: right center;
	background-repeat: no-repeat;
	display: block;
}

/* Fix for Bootstrap theme errors in PrimeFaces: http://forum.primefaces.org/viewtopic.php?f=9&t=19250&start=10 */
.ui-state-error, .ui-widget-content .ui-state-error, .ui-widget-header .ui-state-error
	{
	background: url("") repeat-x scroll 50% 50% #CD0A0A;
	border: 1px solid #CD0A0A;
	color: #FFFFFF;
}