<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets">

<ui:composition template="../../layouts/defaultAdmin.xhtml">
	<ui:define name="title">#{text['userProfile.title']}</ui:define>
	<ui:define name="body">
		<c:set var="delObject" value="#{text['userList.user']}" />
		<div class="col-sm-2">
			<h2>#{text['userProfile.heading']}</h2>
			<c:choose>
				<c:when test="${param.from == 'list' or empty userForm.user.id}">
					<h:outputText value="#{text['userProfile.admin.message']}" />
				</c:when>
				<c:otherwise>
					<h:outputText value="#{text['userProfile.message']}" />
				</c:otherwise>
			</c:choose>
		</div>
		<div class="col-sm-10">
			<h:form id="userForm" styleClass="well" autocomplete="off">
				<h:inputHidden value="#{userForm.user.id}" id="id" />
				<h:inputHidden value="#{userForm.user.version}" id="version" />
				<h:inputHidden value="#{userForm.user.password}"
					id="originalPassword" />
				<input type="hidden" name="from" value="#{userForm.from}" />
				<c:if test="${userForm.rememberMe}">
					<h:inputHidden value="#{userForm.user.password}" id="password" />
					<h:inputHidden value="#{userForm.user.confirmPassword}"
						id="confirmPassword" />
				</c:if>
				<c:if test="${empty userForm.user.version}">
					<input type="hidden" name="encryptPass" value="true" />
				</c:if>
				<c:set var="addText" value="#{text['button.add']}" />
				<div class="row">
					<div class="col-sm-6 form-group">
						<h:outputLabel styleClass="control-label" for="username"
							value="#{text['user.username']}" />
						<h:inputText styleClass="form-control"
							value="#{userForm.user.username}" id="username" />
					</div>
					<div class="col-sm-6 form-group">
						<h:outputLabel styleClass="control-label" for="email"
							value="#{text['user.email']}" />
						<h:inputText styleClass="form-control"
							value="#{userForm.user.email}" id="email" />
					</div>
				</div>
				<c:if test="${!userForm.rememberMe}">
					<div class="row">
						<div class="col-sm-6 form-group">
							<h:outputLabel styleClass="control-label" for="password"
								value="#{text['user.password']}" />
							<h:inputSecret styleClass="form-control"
								value="#{userForm.user.password}" id="password" redisplay="true"
								required="true" />
							<p:message for="password" />
						</div>
						<div class="col-sm-6 form-group">
							<h:outputLabel styleClass="control-label" for="confirmPassword"
								value="#{text['user.confirmPassword']}" />
							<h:inputSecret styleClass="form-control"
								value="#{userForm.user.confirmPassword}" id="confirmPassword"
								redisplay="true" required="true">
								<!--p:validateEqual for="password"/-->
							</h:inputSecret>
							<p:message for="confirmPassword" />
						</div>
					</div>
					<div class="row">
						<div class="col-sm-6 form-group">
							<h:outputLabel styleClass="control-label" for="currency"
								value="#{text['user.currency']}: " />
							<h:selectOneMenu id="currency" value="#{userForm.user.currency}">
								<f:selectItems value="#{userForm.currencies}" />
							</h:selectOneMenu>
							<p:message for="currency" />
						</div>
						<div class="col-sm-6 form-group">
							<h:outputLabel for="advanced" value="#{text['user.theme']}: " />
							<p:themeSwitcher id="advanced" style="width:165px" effect="fade"
								value="#{userForm.user.theme}">
								<f:selectItems value="#{userForm.themes}" />
								<p:column>
									<h:outputText styleClass="ui-theme ui-theme-"
										style="display-block" />
								</p:column>
								<p:column>
								</p:column>
							</p:themeSwitcher>
						</div>
					</div>
				</c:if>
				<c:choose>
					<c:when
						test="${param.from == 'list' or param['editUser:add'] == addText}">
						<h:panelGroup styleClass="form-group" layout="block">
							<fieldset>
								<legend>
									<h:outputText value="#{text['userProfile.accountSettings']}" />
								</legend>
								<h:outputLabel styleClass="checkbox" for="enabled"
									value="#{text['user.enabled']}">
									<h:selectBooleanCheckbox value="#{userForm.user.enabled}"
										id="enabled" styleClass="checkbox" />
								</h:outputLabel>

								<h:outputLabel styleClass="checkbox" for="accountExpired"
									value="#{text['user.accountExpired']}">
									<h:selectBooleanCheckbox
										value="#{userForm.user.accountExpired}" id="accountExpired"
										styleClass="checkbox" />
								</h:outputLabel>

								<h:outputLabel styleClass="checkbox" for="accountLocked"
									value="#{text['user.accountLocked']}">
									<h:selectBooleanCheckbox value="#{userForm.user.accountLocked}"
										id="accountLocked" styleClass="checkbox" />
								</h:outputLabel>

								<h:outputLabel styleClass="checkbox" for="credentialsExpired"
									value="#{text['user.credentialsExpired']}">
									<h:selectBooleanCheckbox
										value="#{userForm.user.credentialsExpired}"
										id="credentialsExpired" styleClass="checkbox" />
								</h:outputLabel>
							</fieldset>
						</h:panelGroup>
						<h:panelGroup styleClass="form-group" layout="block">
							<fieldset>
								<legend>#{text['userProfile.assignRoles']}</legend>
								<h:selectManyCheckbox value="#{userForm.userRoles}"
									id="userRoles" layout="pageDirection">
									<f:selectItems value="#{userForm.availableRoles}" />
								</h:selectManyCheckbox>
							</fieldset>
						</h:panelGroup>
					</c:when>
					<c:otherwise>
						<h:panelGroup styleClass="form-group" layout="block">
							<c:if test="${not empty param['userForm:userRoles']}">
								<input type="hidden" name="userForm:userRoles"
									value="${param['userForm:userRoles']}" />
							</c:if>
							<c:forEach var="role" items="#{userForm.userRoles}"
								varStatus="status">
								<c:if test="${!status.last}">,</c:if>
								<input type="hidden" name="userForm:userRoles" value="${role}" />
							</c:forEach>
							<h:inputHidden value="#{userForm.user.enabled}" />
							<h:inputHidden value="#{userForm.user.accountExpired}" />
							<h:inputHidden value="#{userForm.user.accountLocked}" />
							<h:inputHidden value="#{userForm.user.credentialsExpired}" />
						</h:panelGroup>
					</c:otherwise>
				</c:choose>
				<div class="form-group form-actions">
					<h:commandButton value="#{text['button.save']}"
						action="#{userForm.save}" styleClass="btn btn-primary" />
					<h:commandButton value="#{text['button.cancel']}"
						action="#{userForm.cancel}" immediate="true"
						styleClass="btn btn-default" />
				</div>
			</h:form>
		</div>
	</ui:define>
</ui:composition>
</html>
