<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui">
<h:head>
	<meta http-equiv="Cache-Control" content="no-store" />
	<meta http-equiv="Pragma" content="no-cache" />
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<link rel="icon" href="#{request.contextPath}/images/favicon.ico" />
	<title><ui:insert name="title">Home</ui:insert> |
		#{text['webapp.name']} #{text['webapp.tagline']}</title>
	<ui:include src="/common/assets.xhtml" />
</h:head>
<f:view>
	<body id="#{bodyId}">
		<div id="body" class="body">
			<div id="header" class="container" role="navigation">
				<div class="navbar-header">
					<ul class="nav navbar-nav navbar-left">
						<li><a class="navbar-brand"
							href="#{request.contextPath}/home"> Cash BTC </a></li>
					</ul>
				</div>
				<div class="collapse navbar-collapse">
					<ul class="nav navbar-nav navbar-right">
						<!-- li><a class="navbar-brand"
						href="#{request.contextPath}/about#contact">#{text['website.headerMenu.uploadReceipt']}</a></li -->
						<li><a class="navbar-brand"
							href="#{request.contextPath}/sell">#{text['website.headerMenu.sell']}</a></li>
						<li><a class="navbar-brand"
							href="#{request.contextPath}/about#faq">#{text['website.headerMenu.help']}</a></li>
						<li><a class="navbar-brand"
							href="#{request.contextPath}/about#fees">#{text['website.headerMenu.liquidity']}</a></li>
						<li><a class="navbar-brand"
							href="#{request.contextPath}/contact">#{text['website.footerMenu.contact']}</a></li>
					</ul>
				</div>
			</div>
			<div id="content" class="container">
				<div class="headerwrap">
					<!-- div class="col-md-9"></div>
					<div id="liquidity" class="col-md-3">
						<p:accordionPanel activeIndex="-1">
							<p:tab title="#{text['website.headerMenu.liquidity']}" styleClass="liquidity">
								<i class="fa fa-btc"></i>
								<h:outputText id="liquidity" value="#{buyAction.walletBalance}">
									<f:convertNumber maxFractionDigits="8" />
								</h:outputText>
							</p:tab>
						</p:accordionPanel>
					</div -->
					<ui:insert name="body" />
					<p:spacer width="100%" height="120" />
					<div id="footer-home">
						<div class="col-md-4 text-center flags">
							<a href="#{request.contextPath}/about#contact">#{text['website.home.footer.1first']}</a>
						</div>
						<div class="col-md-4 text-center flags">
							<a href="#{request.contextPath}/about#4fourth">#{text['website.home.footer.2second']}</a>
						</div>
						<div class="col-md-4 text-center flags">
							<h:outputText value="#{text['website.home.footer.3third']}:" />
							<a href="#" target="_new" title="Coming Soon"> <i
								class="social fa fa-twitter fa-1"></i>
							</a>
							<p:spacer width="10" height="8" />
							<a href="https://www.facebook.com/cashBTC.it" target="_new">
								<i class="social fa fa-facebook fa-1"></i>
							</a>
							<p:spacer width="10" height="8" />
							<h:outputText value="#{text['website.social.bitcointalk1']}"
								escape="false" />
						</div>
						<p:separator style="width:90%;" />
						<div class="col-md-4 text-center">
							<h:outputText value="Paysafecard" escape="false" />
							<a href="#{request.contextPath}/about#2second"><img
								src="#{request.contextPath}/images/logo_paysafecard.gif"
								style="width: 50px;" /></a>
						</div>
						<div class="col-md-8 text-center">
							<h:outputText value="PostePay" escape="false" />
							<img src="#{request.contextPath}/images/postepay_evolution.png"
								style="width: 50px;" />
						</div>
						<div class="col-md-4 footer-right text-center">
							<p:spacer width="100%" height="10" />
							<h:outputText value="#{text['website.home.nearestOutlet']}"
								escape="false" />
							<br></br>
							<h:outputText value="#{text['website.home.checkBalance']}"
								escape="false" />
							<br></br>
							<h:outputText value="#{text['website.home.currencyConverter']}"
								escape="false" />
							<br></br>
							<h:outputText value="#{text['website.home.terms']}"
								escape="false" />
							<br></br>
							<h:outputText value="#{text['website.home.disclaimer']}"
								escape="false" />
						</div>
						<div class="col-md-4 footer-right text-center">
							<b> <h:outputText
									value="#{text['website.home.footer.postepay.cash']}" />
							</b> <br></br> <a href="http://www.poste.it/online/cercaup/"
								target="_new"> <img
								src="#{request.contextPath}/images/posta1.png"
								style="width: 120px;" />
							</a> <br></br> <a href="http://locator.sisal.com/" target="_new">
								<img src="#{request.contextPath}/images/sisal2-300x148.png"
								style="width: 120px;" />
							</a> <br></br> <a href="http://serviziweb.tabaccai.it/voucherinps/"
								target="_new"> <img
								src="#{request.contextPath}/images/itb2.png"
								style="width: 120px;" />
							</a>
						</div>
						<div class="col-md-4 footer-right text-center">
							<b> <h:outputText
									value="#{text['website.home.footer.postepay.online']}" />
							</b> <br></br> <a href="http://www.poste.it/app/index.shtml"
								target="_new"> <img
								src="#{request.contextPath}/images/posteapp.png"
								style="width: 120px;" />
							</a> <br></br> <a href="http://postepay.it/" target="_new"> <img
								src="#{request.contextPath}/images/postepay2.png"
								style="width: 120px;" />
							</a> <br></br> <a href="https://bancopostaonline.poste.it/"
								target="_new"> <img
								src="#{request.contextPath}/images/postabanco.png"
								style="width: 120px;" />
							</a>
						</div>
					</div>
					<div id="footer_main" class="row">
						<div class="row">
							<div class="col-md-4 text-left flags">
								<p:spacer width="30" height="0" />
								<font size="3"> <a href="#{request.contextPath}/home">
										<span>Cash BTC</span>
								</a>
								</font> <br></br>
								<p:spacer width="30" height="0" />
								<font size="2"> "<i>#{text['website.home.tagline']}</i>"
								</font>
							</div>
							<div class="col-md-4 text-left flags"></div>
							<div class="col-md-4 text-left flags">
								<div class="row text-center">
									<a href="#{request.requestURL}?locale=it"> <i
										class="flag-icon flag-icon-it"></i>
									</a>
									<p:spacer width="50" height="10" />
									<a href="#{request.requestURL}?locale=en"> <i
										class="flag-icon flag-icon-gb"></i>
									</a>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-3"></div>
							<div class="col-md-6 text-center copyright-website">
								<a href="#{request.contextPath}/terms#terms">#{text['website.footerMenu.terms']}</a>
								<p:spacer width="10" height="0" />
								<a href="#{request.contextPath}/terms#privacy">#{text['website.footerMenu.privacy']}</a>
							</div>
							<div class="col-md-3"></div>
						</div>
					</div>
					<div class="row text-center copyright-website">
						<i class="fa fa-copyright"></i> Copyright #{text['website.url']}
						#{text['copyright.year']}. #{text['website.copyright']}
					</div>
				</div>
			</div>
		</div>
		<ui:insert name="scripts" />
	</body>
</f:view>
</html>
