<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui">
<h:head>
	<meta http-equiv="Cache-Control" content="no-store" />
	<meta http-equiv="Pragma" content="no-cache" />
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<link rel="icon" href="#{request.contextPath}/images/favicon.ico" />
	<title><ui:insert name="title">Home</ui:insert> |
		#{text['webapp.name']}</title>
	<ui:include src="/common/assetsFAQ.xhtml" />
</h:head>
<f:view>
	<body id="#{bodyId}">
		<div id="header" class="navbar navbar-default navbar-fixed-top"
			role="navigation">
			<div class="navbar-header">
				<ul class="nav navbar-nav navbar-left">
					<li><a class="navbar-brand" href="#{request.contextPath}/home">
							Cash BTC</a></li>
				</ul>
			</div>
			<div class="collapse navbar-collapse">
				<ul class="nav navbar-nav navbar-right">
					<!-- li><a class="navbar-brand"
						href="#{request.contextPath}/about#contact">#{text['website.headerMenu.uploadReceipt']}</a></li -->
					<li><a href="#{request.contextPath}/sell">#{text['website.headerMenu.sell']}</a></li>
					<li><a href="#{request.contextPath}/about#faq">#{text['website.headerMenu.help']}</a></li>
					<li><a href="#{request.contextPath}/about#fees">#{text['website.headerMenu.liquidity']}</a></li>
					<li><a href="#{request.contextPath}/contact">#{text['website.footerMenu.contact']}</a></li>
				</ul>
			</div>
		</div>
		<div id="content" class="container">
			<div class="row">
				<ui:insert name="body" />
			</div>
		</div>
		<div id="footer" class="container navbar navbar-default">
			<div class="row">
				<div class="col-md-4 text-left">
					<div class="footer-left">
						<p>
							<font size="3"> <a href="#{request.contextPath}/home">
									<span>Cash BTC</span>
							</a>
							</font>
						</p>
						<p>
							"<i>#{text['website.home.tagline']}</i>"
						</p>
					</div>
				</div>
				<div class="col-md-4 text-center">
					<a href="#" target="_blank" title="Coming Soon"> <i
						class="social fa fa-twitter fa-2x"></i>
					</a> <a href="https://www.facebook.com/cashBTC.it" target="_blank">
						<i class="social fa fa-facebook fa-2x"></i>
					</a>
					<h:outputText value="#{text['website.social.bitcointalk2']}"
						escape="false" />
				</div>
				<div class="col-md-4 text-left ">
					<div class="row text-center">
						<a href="#{request.requestURL}?locale=it"> <i
							class="flag-icon flag-icon-it"></i>
						</a>
						<p:spacer width="50" height="10" />
						<a href="#{request.requestURL}?locale=en"> <i
							class="flag-icon flag-icon-gb"></i>
						</a>
					</div>
					<!-- div class="row footer-right-about text-right">
						<h:outputText value="#{text['website.home.nearestOutlet']}"
							escape="false" />
					</div>
					<div class="row footer-right-about text-right">
						<h:outputText value="#{text['website.home.checkBalance']}"
							escape="false" />
					</div>
					<div class="row footer-right-about text-right">
						<h:outputText value="#{text['website.home.currencyConverter']}"
							escape="false" />
					</div>
					<div class="row footer-right-about text-right">
						<h:outputText value="#{text['website.home.terms']}" escape="false" />
					</div>
					<div class="row footer-right-about text-right">
						<h:outputText value="#{text['website.home.disclaimer']}"
							escape="false" />
					</div-->
				</div>
			</div>
			<div class="row">
				<div class="col-md-3"></div>
				<div class="col-md-6 text-center copyright-website">
					<a href="#{request.contextPath}/terms#terms">#{text['website.footerMenu.terms']}</a>
					<p:spacer width="10" height="0" />
					<a href="#{request.contextPath}/terms#privacy">#{text['website.footerMenu.privacy']}</a>
				</div>
				<div class="col-md-3"></div>
			</div>
			<div class="row text-center copyright-website">
				<i class="fa fa-copyright"></i> Copyright #{text['website.url']}
				#{text['copyright.year']}. #{text['website.copyright']}
			</div>
		</div>
		<ui:insert name="scripts" />
	</body>
</f:view>
</html>
