<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets">
<ui:composition>
	<h:form>
		<p:menubar>
			<p:menuitem value="Coin Anaλytics" url="/app/home">
				<a class="navbar-brand" href="#{request.contextPath}/app/home">
					Cash BTC
				</a>
			</p:menuitem>
			<p:submenu label="#{text['menu.admin']}" icon="ui-icon-gear">
				<p:menuitem value="#{text['menu.admin.exchanges']}"
					url="/app/settings/listExchanges" />
			</p:submenu>
			<p:submenu label="Help" icon="ui-icon-help">
				<p:menuitem value="Contents" url="#" />
				<p:submenu label="Search" icon="ui-icon-search">
					<p:submenu label="Text">
						<p:menuitem value="Workspace" url="#" />
					</p:submenu>
					<p:menuitem value="File" url="#" />
				</p:submenu>
			</p:submenu>
			<p:submenu style="position: absolute; right: 18px;"
				label="#{text['menu.user.hello']} #{menuController.user.username}">
				<p:menuitem value="#{text['menu.user.myProfile']}"
					url="/app/myProfile/editProfile" icon="ui-icon-contact" />
				<p:menuitem value="#{text['menu.admin.users']}"
					url="/app/admin/users" />
				<p:menuitem value="#{text['home.activeUsers']}"
					url="/app/admin/activeUsers" />
				<p:separator />
				<p:menuitem value="#{text['user.logout']}"
					url="/app/myProfile/logout" icon="ui-icon-power" />
			</p:submenu>
		</p:menubar>
	</h:form>
</ui:composition>
</html>