<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:f="http://java.sun.com/jsf/core">

<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	template="/layouts/defaultAboutFAQ.xhtml">
	<ui:define name="title">#{text['website.about.title']}</ui:define>
	<ui:param name="bodyId" value="home" />
	<ui:define name="body">
		<h:form id="aboutForm" prependId="false">
			<div class="container">
				<div id="about" class="col-md-12 about-page-text">
					<span id="faq"></span> <span id="1first"></span>
					<div>
						<H1>#{text['website.about.faq.title']}</H1>
						<p:accordionPanel>
							<p:tab title="#{text['website.about.faq.1first']}">
								<p>
									<h:outputText
										value="#{text['website.about.faq.1first.message1']}"
										escape="false" />
								</p>
								<div class="video embed-responsive embed-responsive-4by3 left">
									<p:media value="http://www.youtube.com/v/Gc2en3nHxA4"
										height="333em" player="flash"
										styleClass="col-sm-12 embed-responsive-item video" />
								</div>
							</p:tab>
							<p:tab title="#{text['website.about.faq.2second']}">
								<h:outputText
									value="#{text['website.about.faq.2second.message']}"
									escape="false" />
							</p:tab>
							<p:tab title="#{text['website.about.faq.2secondBis']}">
								<h:outputText
									value="#{text['website.about.faq.2secondBis.message']}"
									escape="false" />
							</p:tab>
							<p:tab title="#{text['website.about.faq.3third']}">
								<h:outputText
									value="#{text['website.about.faq.3third.message']}"
									escape="false" />
							</p:tab>
							<p:tab title="#{text['website.about.faq.3thirdBis']}">
								<h:outputText
									value="#{text['website.about.faq.3thirdBis.message']}"
									escape="false" />
							</p:tab>
							<p:tab title="#{text['website.about.faq.4fourth']}">
								<h:outputText
									value="#{text['website.about.faq.4fourth.message']}"
									escape="false" />
							</p:tab>
							<p:tab title="#{text['website.about.faq.4fourthBis']}">
								<h:outputText
									value="#{text['website.about.faq.4fourthBis.message']}"
									escape="false" />
							</p:tab>
							<p:tab title="#{text['website.about.faq.5fifth']}">
								<h:outputText
									value="#{text['website.about.faq.5fifth.message']}"
									escape="false" />
							</p:tab>
							<p:tab title="#{text['website.about.faq.5fifthBis']}">
								<h:outputText
									value="#{text['website.about.faq.5fifthBis.message']}"
									escape="false" />
							</p:tab>
							<p:tab title="#{text['website.about.faq.5fifthTer']}">
								<h:outputText
									value="#{text['website.about.faq.5fifthTer.message']}"
									escape="false" />
							</p:tab>
							<p:tab title="#{text['website.about.faq.5fifthQuater']}">
								<h:outputText
									value="#{text['website.about.faq.5fifthQuater.message']}"
									escape="false" />
							</p:tab>
							<p:tab title="#{text['website.about.faq.5fifthQuinquies']}">
								<h:outputText
									value="#{text['website.about.faq.5fifthQuinquies.message']}"
									escape="false" />
							</p:tab>
							<p:tab title="#{text['website.about.faq.6sixth']}">
								<h:outputText
									value="#{text['website.about.faq.6sixth.message']}"
									escape="false" />
							</p:tab>
							<p:tab title="#{text['website.about.faq.6sixthBis']}">
								<h:outputText
									value="#{text['website.about.faq.6sixthBis.message']}"
									escape="false" />
							</p:tab>
							<p:tab title="#{text['website.about.faq.6sixthTer']}">
								<h:outputText
									value="#{text['website.about.faq.6sixthTer.message']}"
									escape="false" />
							</p:tab>
							<p:tab title="#{text['website.about.faq.6sixthQuater']}">
								<h:outputText
									value="#{text['website.about.faq.6sixthQuater.message']}"
									escape="false" />
							</p:tab>
							<p:tab title="#{text['website.about.faq.6sixthQuinquies']}">
								<h:outputText
									value="#{text['website.about.faq.6sixthQuinquies.message']}"
									escape="false" />
							</p:tab>
							<p:tab title="#{text['website.about.faq.7seventh']}">
								<h:outputText
									value="#{text['website.about.faq.7seventh.message']}"
									escape="false" />
							</p:tab>
							<p:tab title="#{text['website.about.faq.7seventhBis']}">
								<h:outputText
									value="#{text['website.about.faq.7seventhBis.message']}"
									escape="false" />
							</p:tab>
							<p:tab title="#{text['website.about.faq.6sixthTerBis']}">
								<h:outputText
									value="#{text['website.about.faq.6sixthTerBis.message']}"
									escape="false" />
							</p:tab>
							<p:tab title="#{text['website.about.faq.8eighth']}">
								<h:outputText
									value="#{text['website.about.faq.8eighth.message']}"
									escape="false" />
							</p:tab>
							<p:tab title="#{text['website.about.faq.10tenth']}">
								<h:outputText
									value="#{text['website.about.faq.10tenth.message']}"
									escape="false" />
							</p:tab>
						</p:accordionPanel>
					</div>
					<span id="fees"></span>
					<div class="row">
						<BR /> <BR />
						<h1>#{text['website.about.fees.title']}</h1>
						<div class="col-md-6">
							<div class="fees-details text-center">
								<h1 class="about-details-title">
									<h:outputText
										value="#{text['website.home.paymentMethods.paysafecard']}" />
								</h1>
								<p class="fees-details-text">
									<h:outputText value="#{text['arbitrage.sellPrice']}: €" />
									<h:outputText id="pricePaysafecard"
										value="#{buyAction.pricePaysafecard}">
										<f:convertNumber maxFractionDigits="2" />
									</h:outputText>
								</p>
							</div>
						</div>
						<div class="col-md-6">
							<div class="fees-details text-center">
								<h1 class="about-details-title">
									<h:outputText
										value="#{text['website.home.paymentMethods.postepay']}" />
								</h1>
								<p class="fees-details-text">
									<h:outputText value="#{text['arbitrage.sellPrice']}: €" />
									<h:outputText id="pricePostePay"
										value="#{buyAction.pricePostePay}">
										<f:convertNumber maxFractionDigits="2" />
									</h:outputText>
								</p>
								<p class="fees-details-text">
									<h:outputText value="#{text['arbitrage.buyPrice']}: €" />
									<h:outputText id="priceSell" value="#{buyAction.priceSell}">
										<f:convertNumber maxFractionDigits="2" />
									</h:outputText>
								</p>
							</div>
						</div>
						<div class="col-md-3"></div>
						<div class="col-md-6">
							<div class="fees-details text-center">
								<h1 class="about-details-title">
									<h:outputText value="#{text['website.headerMenu.liquidity']}" />
								</h1>
								<p class="fees-details-text">
									<i class="fa fa-btc"></i>
									<h:outputText id="price" value="#{buyAction.walletBalance}">
										<f:convertNumber maxFractionDigits="8" />
									</h:outputText>
								</p>
							</div>
						</div>
						<div class="col-md-3"></div>
					</div>
					<span id="contact"></span>
					<div>
						<BR /> <BR />
						<h1>#{text['website.about.contact.title']}</h1>
						<h:outputText value="#{text['website.about.contact.message']}"
							escape="false" />
					</div>
				</div>
			</div>
			<p:spacer width="100%" height="50" />
			<div class="col-md-12 text-center">
				<a href="#top">top</a>
			</div>
			<p:spacer width="100%" height="20" />
			<p:poll interval="300"
				listener="#{buyAction.updateForm}" process="@form" update="@form" />
		</h:form>
	</ui:define>
	<ui:define name="scripts">
		<script>
			var $_Tawk_API = {}, $_Tawk_LoadStart = new Date();
			(function() {
				var s1 = document.createElement("script"), s0 = document
						.getElementsByTagName("script")[0];
				s1.async = true;
				s1.src = 'https://embed.tawk.to/55450a61108e17b0186da424/default';
				s1.charset = 'UTF-8';
				s1.setAttribute('crossorigin', '*');
				s0.parentNode.insertBefore(s1, s0);
			})();
			(function(i, s, o, g, r, a, m) {
				i['GoogleAnalyticsObject'] = r;
				i[r] = i[r] || function() {
					(i[r].q = i[r].q || []).push(arguments)
				}, i[r].l = 1 * new Date();
				a = s.createElement(o), m = s.getElementsByTagName(o)[0];
				a.async = 1;
				a.src = g;
				m.parentNode.insertBefore(a, m)
			})(window, document, 'script',
					'//www.google-analytics.com/analytics.js', 'ga');

			ga('create', 'UA-60248393-1', 'auto');
			ga('send', 'pageview');
		</script>
	</ui:define>
</ui:composition>
</html>