<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:f="http://java.sun.com/jsf/core">

<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	template="/layouts/defaultAboutFAQ.xhtml">
	<ui:define name="title">#{text['website.contact.title']}</ui:define>
	<ui:param name="bodyId" value="home" />
	<ui:define name="body">
		<div class="container">
			<div id="contact" class="col-md-12 about-page-text">
				<span id="contactForm1"></span>
				<div>
					<p:tabView id="contactTab"
						activeIndex="#{buyAction.contactFormActiveIndex}">
						<p:ajax event="tabChange"
							listener="#{buyAction.contactFormOnTabChange}"
							update=":contactTab" />
						<p:tab title="#{text['website.contact.contactUs.title']}">
							<h:form id="contactForm" prependId="false">
								<p:messages id="messagesContact" showDetail="true"
									closable="true" escape="false" style="font-size: 18px;" />
								<p:spacer width="100%" height="2" />
								<h2>#{text['website.contact.contactUs.title']}</h2>
								<div class="row">
									<div class="col-md-6">
										<p>
											<p:inputText id="email" value="#{buyAction.contactEmail}"
												placeholder="#{text['website.contact.contactUs.email']}"
												maxlength="40"
												style="text-align: center; width: 420px; border-radius: 0px; border: 1px solid #ddd;"
												required="true" />
										</p>
										<p>
											<p:inputText id="subject" value="#{buyAction.contactSubject}"
												placeholder="#{text['website.contact.contactUs.subject']}"
												maxlength="40"
												style="text-align: center; width: 420px; border-radius: 0px; border: 1px solid #ddd;"
												required="true" />
										</p>
										<p>
											<p:inputTextarea id="message" rows="10" cols="56"
												value="#{buyAction.contactText}"
												placeholder="#{text['website.contact.contactUs.message']}" />
										</p>
										<p class="text-right">
											<h:commandButton id="sendEmail"
												value="#{text['button.send']}" styleClass="btn btn-primary"
												style="width: 100px; height: 40px;"
												action="#{buyAction.sendContactEmail}" />
										</p>
									</div>
									<div class="col-md-6">
										<h4>#{text['website.contact.contactUs.contattaci']}</h4>
										<h:outputText
											value="#{text['website.contact.contactUs.contattaci.message']}"
											escape="false" />
										<p:separator />
										<h4>#{text['website.contact.contactUs.time']}</h4>
										<h:outputText
											value="#{text['website.contact.contactUs.time.message']}"
											escape="false" />
									</div>
								</div>
							</h:form>
						</p:tab>
						<p:tab title="#{text['website.contact.orderStatus.title']}">
							<h:form id="orderStatusForm" prependId="false">
								<p:messages id="messagesOrderStatus" showDetail="true"
									closable="true" escape="false" style="font-size: 18px;" />
								<p:spacer width="100%" height="2" />
								<h2>#{text['website.contact.orderStatus.title']}</h2>
								<div class="row">
									<div class="col-md-6">
										<p>
											<p:inputText id="address"
												value="#{buyAction.orderStatusAddress}"
												placeholder="#{text['website.contact.orderStatus.address']}"
												maxlength="40"
												style="text-align: center; width: 420px; border-radius: 0px; border: 1px solid #ddd;"
												required="true" />
										</p>
										<p class="text-right">
											<h:commandButton id="searchOrder"
												value="#{text['button.search']}"
												styleClass="btn btn-primary"
												style="width: 100px; height: 40px;"
												action="#{buyAction.searchOrder}" immediate="false"
												ajax="false" />
										</p>
									</div>
									<div class="col-md-6">
										<h4>#{text['website.contact.orderStatus.info']}</h4>
										<h:outputText
											value="#{text['website.contact.orderStatus.info.message']}"
											escape="false" />
									</div>
								</div>
								<div class="row">
									<p:accordionPanel
										activeIndex="#{buyAction.orderStatusFormActiveIndex}">
										<p:tab
											title="#{text['website.contact.orderStatus.orderHistory']}">
											<p:dataTable var="order" value="#{buyAction.orderHistory}">
												<p:column
													headerText="#{text['website.contact.orderStatus.orderHistory.code']}">
													<h:outputText value="#{order.code}" />
												</p:column>
												<p:column
													headerText="#{text['website.contact.orderStatus.orderHistory.euro']}">
													<h:outputText id="priceEuro" value="#{order.euro}">
														<f:convertNumber maxFractionDigits="2" />
													</h:outputText>
												</p:column>
												<p:column>
													<f:facet name="header">
														<h:outputText
															value="#{text['website.contact.orderStatus.orderHistory.btc']}"
															escape="false" />
													</f:facet>
													<h:outputText id="priceBTC" value="#{order.btc}">
														<f:convertNumber maxFractionDigits="8" />
													</h:outputText>
												</p:column>
												<p:column
													headerText="#{text['website.contact.orderStatus.orderHistory.status']}">
													<p class="text-center">
														<ui:fragment rendered="#{order.fulfilled}">
															<h:outputText style="color: #00FF00;"
																value="#{text['website.contact.orderStatus.orderHistory.status.completed']}" />
														</ui:fragment>
														<ui:fragment rendered="#{!order.fulfilled}">
															<h:outputText style="color: #FF0000;"
																value="#{text['website.contact.orderStatus.orderHistory.status.processing']}" />
														</ui:fragment>
													</p>
												</p:column>
											</p:dataTable>
										</p:tab>
									</p:accordionPanel>
								</div>
							</h:form>
							<p:spacer width="100%" height="5" />
							<div class="row">
								<h3>#{text['website.contact.orderStatus.orderHistory.info']}</h3>
								<h4>#{text['website.contact.orderStatus.orderHistory.info.notCompleted']}</h4>
								<h:outputText
									value="#{text['website.contact.orderStatus.orderHistory.info.notCompleted.message']}"
									escape="false" />
								<p:separator />
								<h4>#{text['website.contact.orderStatus.orderHistory.info.questions']}</h4>
								<h:outputText
									value="#{text['website.contact.orderStatus.orderHistory.info.questions.message']}"
									escape="false" />
								<p:separator />
								<h4>#{text['website.contact.contactUs.time']}</h4>
								<h:outputText
									value="#{text['website.contact.contactUs.time.message']}"
									escape="false" />
							</div>
							<p:spacer width="100%" height="50" />
							<div class="col-md-12 text-center">
								<a href="#top">top</a>
							</div>
						</p:tab>
					</p:tabView>
				</div>
			</div>
		</div>
		<p:spacer width="100%" height="50" />
	</ui:define>
	<ui:define name="scripts">
		<script>
			var $_Tawk_API = {}, $_Tawk_LoadStart = new Date();
			(function() {
				var s1 = document.createElement("script"), s0 = document
						.getElementsByTagName("script")[0];
				s1.async = true;
				s1.src = 'https://embed.tawk.to/55450a61108e17b0186da424/default';
				s1.charset = 'UTF-8';
				s1.setAttribute('crossorigin', '*');
				s0.parentNode.insertBefore(s1, s0);
			})();
			(function(i, s, o, g, r, a, m) {
				i['GoogleAnalyticsObject'] = r;
				i[r] = i[r] || function() {
					(i[r].q = i[r].q || []).push(arguments)
				}, i[r].l = 1 * new Date();
				a = s.createElement(o), m = s.getElementsByTagName(o)[0];
				a.async = 1;
				a.src = g;
				m.parentNode.insertBefore(a, m)
			})(window, document, 'script',
					'//www.google-analytics.com/analytics.js', 'ga');

			ga('create', 'UA-60248393-1', 'auto');
			ga('send', 'pageview');
		</script>
	</ui:define>
</ui:composition>
</html>