<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:f="http://java.sun.com/jsf/core">

<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	template="/layouts/defaultHome.xhtml">
	<ui:define name="title">#{text['home.title']}</ui:define>
	<ui:param name="bodyId" value="home" />
	<ui:define name="body">
		<h:form id="confirmForm" prependId="false">
			<div class="row">
				<div class="col-md-12 text-center" style="font-size: 48px;">
					<i>#{text['website.home.tagline']}</i>
				</div>
				<div class="col-md-12 text-center" style="font-size: 18px;">
					<i>#{text['webapp.tagline2']}</i>
				</div>
			</div>
			<div class="row">
				<div class="col-md-1"></div>
				<div class="col-md-10">
					<p:messages id="messages" showDetail="true" closable="true"
						escape="false" style="font-size: 18px;" />
				</div>
				<div class="col-md-1"></div>
				<div class="col-md-8"></div>
				<div class="col-md-4 text-center" style="font-size: 18px;">
					<p:inputMask id="confirmationCode" mask="9999"
						value="#{buyAction.confirmationCode}"
						placeholder="#{text['website.home.confirmationCodePlaceholder']}"
						maxlength="4" immediate="true"
						style="text-align: center; width: 75px; border-radius: 0px; border: 1px solid #ddd;"
						required="true">
						<p:ajax listener="#{buyAction.uploadConfirmationCodeEnabler}"
							event="keyup" process="confirmationCode"
							update="confirmationCodeSubmit" />
					</p:inputMask>
					<p:spacer width="3" height="1" />
					<h:commandButton id="confirmationCodeSubmit"
						value="#{text['button.confirmPayment']}"
						styleClass="btn btn-primary" style="width: 170px; height: 40px;"
						action="#{buyAction.uploadConfirmationCode}"
						disabled="#{buyAction.confirmationCodeEmpty}" />
				</div>
			</div>
				<div class="col-md-7"></div>
				<div class="col-md-5 text-right" style="font-size: 12px;">
					<h:outputText value="#{text['success.confirmationCode.sms']}" />
					</div>
		</h:form>
		<h:form id="buyForm" prependId="false">
			<p class="payment-method-label">#{text['website.home.paymentMethodChoose']}</p>
			<div id="payment-methods" class="row">
				<ui:fragment rendered="#{buyAction.walletEmpty}">
					<div class="col-md-12">
						<div class="alert alert-danger" role="alert">
							<h:outputText value="#{text['website.home.noAvailable']}" />
						</div>
					</div>
				</ui:fragment>
				<div class="col-md-2"></div>
				<div class="col-md-4">
					<p:commandLink style="text-decoration: none;" ajax="false"
						action="paysafecard" update="@form"
						disabled="#{buyAction.walletEmpty}">
						<div class="payment-method text-center">
							<h1 class="payment-method-title">
								<img src="#{request.contextPath}/images/logo_paysafecard.gif"
									style="width: 230px;" />
								<p:spacer width="100%" height="20" />
							</h1>
							<p class="fees-details-text">
								<h:outputText value="#{text['arbitrage.sellPrice']}: €" />
								<h:outputText id="pricePaysafecard"
									value="#{buyAction.pricePaysafecard}">
									<f:convertNumber maxFractionDigits="2" />
								</h:outputText>
							</p>
							<p class="fees-details-text">
								<h:outputText style="color: red;"
									value="#{text['errors.notAvailable']}" />
							</p>
						</div>
					</p:commandLink>
				</div>
				<div class="col-md-4">
					<p:commandLink style="text-decoration: none;" ajax="false"
						action="postepay" update="@form"
						disabled="#{buyAction.walletEmpty}">
						<div class="payment-method text-center">
							<h1 class="payment-method-title">
								<img src="#{request.contextPath}/images/postepay_evolution.png"
									style="width: 230px;" />
								<p:spacer width="100%" height="20" />
							</h1>
							<p class="fees-details-text">
								<h:outputText value="#{text['arbitrage.sellPrice']}: €" />
								<h:outputText id="pricePostePay"
									value="#{buyAction.pricePostePay}">
									<f:convertNumber maxFractionDigits="2" />
								</h:outputText>
							</p>
							<!-- p class="fees-details-text">
								<h:outputText
									value="#{text['website.home.paymentMethods.postepay.time']}" />
							</p -->
						</div>
					</p:commandLink>
				</div>
				<div class="col-md-2"></div>
			</div>
			<p:poll interval="#{buyAction.pollingInterval}"
				listener="#{buyAction.updateForm}" process="@form" update="@form" />
		</h:form>
	</ui:define>
	<ui:define name="scripts">
		<script>
			/*
				$(document).ready(function() {
					$('input[type="submit"]').attr('disabled','disabled');
					$('input[type="text"]').keyup(function(){
					    if($('input[type="text"]').val() == ""){
					        $('input[type="submit"]').attr('disabled','disabled');
					    }
					    else{
					        $('input[type="submit"]').removeAttr('disabled');
					    }
					});
				});*/
			var $_Tawk_API = {}, $_Tawk_LoadStart = new Date();
			(function() {
				var s1 = document.createElement("script"), s0 = document
						.getElementsByTagName("script")[0];
				s1.async = true;
				s1.src = 'https://embed.tawk.to/55450a61108e17b0186da424/default';
				s1.charset = 'UTF-8';
				s1.setAttribute('crossorigin', '*');
				s0.parentNode.insertBefore(s1, s0);
			})();
			(function(i, s, o, g, r, a, m) {
				i['GoogleAnalyticsObject'] = r;
				i[r] = i[r] || function() {
					(i[r].q = i[r].q || []).push(arguments)
				}, i[r].l = 1 * new Date();
				a = s.createElement(o), m = s.getElementsByTagName(o)[0];
				a.async = 1;
				a.src = g;
				m.parentNode.insertBefore(a, m)
			})(window, document, 'script',
					'//www.google-analytics.com/analytics.js', 'ga');

			ga('create', 'UA-60248393-1', 'auto');
			ga('send', 'pageview');
		</script>
	</ui:define>
</ui:composition>
</html>