<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:f="http://java.sun.com/jsf/core">

<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	template="/layouts/defaultHome.xhtml">
	<ui:define name="title">#{text['website.home.paymentMethod']}: Paysafecard</ui:define>
	<ui:param name="bodyId" value="home" />
	<ui:define name="body">
		<h:form id="buyForm" prependId="false">
			<div class="row" style="margin-top: -40px">
				<div class="col-md-1"></div>
				<div class="col-md-7 payment-method-label-payments text-left">
					<h:outputText
						value="#{text['website.home.paymentMethod']}: Paysafecard"
						escape="false" />
					<a href="#{request.contextPath}/about#2second"><img
						src="#{request.contextPath}/images/logo_paysafecard.gif"
						style="width: 50px;" /></a>
				</div>
				<div class="col-md-3 payment-method-label-payments text-right">
					<h:outputText value="#{text['website.headerMenu.liquidity']}: " />
					<i class="fa fa-btc"></i>
					<h:outputText id="price" value="#{buyAction.walletBalance}">
						<f:convertNumber maxFractionDigits="8" />
					</h:outputText>
				</div>
				<div class="col-md-1"></div>
			</div>
			<p:spacer width="100%" height="10" />
			<div class="col-md-12 fees-details-text">
				<h:outputText style="color: red;"
					value="#{text['errors.notAvailable']}" />
			</div>
			<div class="email-wrapper">
				<p:messages id="messages" showDetail="true" closable="true"
					escape="false" />
				<div class="col-md-7 text-right">
					<p:outputLabel for="repeatId:pin1" value="PIN" />
				</div>
				<div class="col-md-5 text-left">
					<p:outputLabel for="repeatId:size"
						value="#{text['website.home.newsletterSize']}" escape="false" />
					<p:spacer width="10" height="10" />
					<p:commandLink process="@this" update="@form"
						action="#{buyAction.addPaysafecard}" immediate="true" ajax="true">
						<i class="social fa fa-plus"></i>
					</p:commandLink>
					<p:spacer width="10" height="10" />
					<p:commandLink process="@this" update="@form"
						action="#{buyAction.removePaysafecard}" immediate="true"
						ajax="true">
						<i class="social fa fa-minus"></i>
					</p:commandLink>
				</div>
				<ui:repeat id="repeatId" var="paysafecard"
					value="#{buyAction.paysafecards}" varStatus="status">
					<div class="row paysafecard-pin">
						<div class="col-md-7 text-right">
							<p:inputText id="pin1" value="#{paysafecard.pin1}"
								placeholder="1234" required="true"
								disabled="#{buyAction.walletEmpty}"
								style="text-align: center; width: 55px; border-radius: 0px; border: 1px solid #ddd;"
								maxlength="4">
								<f:convertNumber maxIntegerDigits="4" type="number" />
							</p:inputText>
							<p:spacer width="10" height="10" />
							<p:inputText id="pin2" value="#{paysafecard.pin2}"
								placeholder="5678" required="true"
								disabled="#{buyAction.walletEmpty}"
								style="text-align: center; width: 55px; border-radius: 0px; border: 1px solid #ddd;"
								maxlength="4">
								<f:convertNumber maxIntegerDigits="4" type="number" />
							</p:inputText>
							<p:spacer width="10" height="10" />
							<p:inputText id="pin3" value="#{paysafecard.pin3}"
								placeholder="1234" required="true"
								disabled="#{buyAction.walletEmpty}"
								style="text-align: center; width: 55px; border-radius: 0px; border: 1px solid #ddd;"
								maxlength="4">
								<f:convertNumber maxIntegerDigits="4" type="number" />
							</p:inputText>
							<p:spacer width="10" height="10" />
							<p:inputText id="pin4" value="#{paysafecard.pin4}"
								placeholder="5678" required="true"
								disabled="#{buyAction.walletEmpty}"
								style="text-align: center; width: 55px; border-radius: 0px; border: 1px solid #ddd;"
								maxlength="4">
								<f:convertNumber maxIntegerDigits="4" type="number" />
							</p:inputText>
						</div>
						<div class="col-md-5 text-left">
							<h:selectOneMenu id="size" value="#{paysafecard.size}"
								required="true">
								<p:ajax process="repeatId:size" update="repeatId:BTCSize" />
								<f:selectItems value="#{buyAction.sizes}" var="size"
									itemLabel="#{size.label}" itemValue="#{size.value}" />
							</h:selectOneMenu>
							<p:spacer width="10" height="10" />
							<h:outputText id="BTCSize" value="#{paysafecard.size}">
								<f:convertNumber maxFractionDigits="8" />
							</h:outputText>
						</div>
					</div>
				</ui:repeat>
				<p:spacer width="100%" height="10" />
				<div class="form-group">
					<!-- h:panelGrid columns="1" style="margin-bottom: 10px">
								<p:inputText id="txt3" value="#{sliderView.number3}" />
								<p:slider for="txt3" step="5" minValue="10" maxValue="500" />
							</h:panelGrid>
							<p:spacer width="10" height="10" / -->
				</div>
				<div class="row">
					<p:inputText id="address" value="#{buyAction.address}"
						placeholder="#{text['website.home.newsletterPlaceholder']}"
						maxlength="40" disabled="#{buyAction.walletEmpty}"
						style="text-align: center; width: 450px; border-radius: 0px; border: 1px solid #ddd;"
						required="true" />
				</div>
				<p:spacer width="100%" height="10" />
				<div class="row">
					<p:selectBooleanCheckbox id="terms" required="true"
						requiredMessage="#{text['errors.terms']}">
						<f:validator validatorId="requiredCheckboxValidator" />
					</p:selectBooleanCheckbox>
					<p:spacer width="10" height="10" />
					<h:outputText id="termsLabel"
						value="#{text['website.home.paymentMethods.paysafecard.terms']}"
						escape="false" />
				</div>
				<!-- p:blockUI block="address" trigger="buy" / -->
				<p:spacer width="100%" height="10" />
				<div id="actions" class="form-group">
					<h:commandButton id="cancel" value="#{text['button.cancel']}"
						styleClass="btn btn-default" style="width: 100px; height: 40px;"
						action="#{buyAction.cancel}" immediate="true" />
					<p:spacer width="50" height="10" />
					<h:commandButton id="buy" value="#{text['button.buy']}"
						styleClass="btn btn-primary" style="width: 100px; height: 40px;"
						action="#{buyAction.buyPaysafecard}"
						disabled="#{buyAction.walletEmpty}" />
				</div>
			</div>
			<div class="col-md-12 fees-details-text">
				<h:outputText style="color: red;"
					value="#{text['errors.notAvailable']}" />
			</div>
		</h:form>
	</ui:define>
	<ui:define name="scripts">
		<script>
			var $_Tawk_API = {}, $_Tawk_LoadStart = new Date();
			(function() {
				var s1 = document.createElement("script"), s0 = document
						.getElementsByTagName("script")[0];
				s1.async = true;
				s1.src = 'https://embed.tawk.to/55450a61108e17b0186da424/default';
				s1.charset = 'UTF-8';
				s1.setAttribute('crossorigin', '*');
				s0.parentNode.insertBefore(s1, s0);
			})();
			(function(i, s, o, g, r, a, m) {
				i['GoogleAnalyticsObject'] = r;
				i[r] = i[r] || function() {
					(i[r].q = i[r].q || []).push(arguments)
				}, i[r].l = 1 * new Date();
				a = s.createElement(o), m = s.getElementsByTagName(o)[0];
				a.async = 1;
				a.src = g;
				m.parentNode.insertBefore(a, m)
			})(window, document, 'script',
					'//www.google-analytics.com/analytics.js', 'ga');

			ga('create', 'UA-60248393-1', 'auto');
			ga('send', 'pageview');
		</script>
	</ui:define>
</ui:composition>
</html>