<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:f="http://java.sun.com/jsf/core">

<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	template="/layouts/defaultHome.xhtml">
	<ui:define name="title">#{text['website.home.paymentMethod']}: PostePay</ui:define>
	<ui:param name="bodyId" value="home" />
	<ui:define name="body">
		<h:form id="buyForm" prependId="false">
			<div class="row" style="margin-top: -40px">
				<div class="col-md-1"></div>
				<div class="col-md-7 payment-method-label-payments text-left">
					<h:outputText
						value="#{text['website.home.paymentMethod']}: PostePay"
						escape="false" />
					<a href="#{request.contextPath}/about#2second"><img
						src="#{request.contextPath}/images/postepay_evolution.png"
						style="width: 50px;" /></a>
					<p:spacer width="100%" height="1" />
					<h:outputText value="Code: #{buyAction.transactionCode}"
						escape="false" />
				</div>
				<div class="col-md-3 payment-method-label-payments text-right">
					<h:outputText value="#{text['website.headerMenu.liquidity']}: " />
					<i class="fa fa-btc"></i>
					<h:outputText id="price" value="#{buyAction.walletBalance}">
						<f:convertNumber maxFractionDigits="8" />
					</h:outputText>
				</div>
				<div class="col-md-1"></div>
			</div>
			<p:spacer width="100%" height="10" />
			<div class="email-wrapper">
				<p:messages id="messages" showDetail="true" closable="true"
					escape="false" />
				<p:tabView id="tabs">
					<p:tab>
						<f:facet name="title">
							<i class="fa fa-btc"></i>
							<h:outputText value=" #{text['button.buy']} " />
							<!-- i class="fa fa-btc"></i -->
						</f:facet>
						<div class="row text-center"></div>
						<!-- p:spacer width="100%" height="10" / -->
						<div class="row paysafecard-pin text-center">
							<div class="col-md-4 text-right">
								<p:outputLabel for="sizeSliderVal"
									value="#{text['website.home.paymentMethods.postepay.size']}: "
									escape="false" />
							</div>
							<div class="col-md-8 text-center">
								<h:outputText id="sizeSliderVal"
									value="#{buyAction.sizePostePayString}" />
							</div>
						</div>
						<div class="row">
							<p:inputText id="size" data-slider-id='sizeSlider' type="text"
								data-slider-min="1"
								data-slider-max="#{buyAction.walletBalanceEur}"
								data-slider-step="1"
								data-slider-value="#{buyAction.sizePostePay}"
								style="width: 450px;" />
						</div>
						<p:spacer width="100%" height="10" />
						<div class="row">
							<p:inputText id="address" value="#{buyAction.address}"
								placeholder="#{text['website.home.newsletterPlaceholder']}"
								maxlength="40" disabled="#{buyAction.walletEmpty}"
								style="text-align: center; width: 450px; border-radius: 0px; border: 1px solid #ddd;"
								required="true" />
						</div>
						<p:spacer width="100%" height="10" />
						<div class="row">
							<p:selectBooleanCheckbox id="terms" required="true"
								requiredMessage="#{text['errors.terms']}">
								<f:validator validatorId="requiredCheckboxValidator" />
							</p:selectBooleanCheckbox>
							<p:spacer width="10" height="10" />
							<h:outputText id="termsLabel1"
								value="#{text['website.home.paymentMethods.postepay.terms1']}"
								escape="false" style="font-size: 18px;" />
							<a href="#{request.contextPath}/terms" target="_new"> <h:outputText
									id="termsLabel2"
									value="#{text['website.home.paymentMethods.postepay.terms2']}"
									escape="false" style="font-size: 18px;" />
							</a>
							<h:outputText id="termsLabel3"
								value="#{text['website.home.paymentMethods.postepay.terms3']}"
								escape="false" style="font-size: 18px;" />
						</div>
						<p:spacer width="100%" height="10" />
						<div id="inputFields" style="display: none;">
							<input type="text" id="sizeParameter" name="sizeParameter" />
							<h:commandButton id="buyHidden" type="hidden"
								value="#{text['button.buy']}" styleClass="btn btn-primary"
								style="width: 100px; height: 40px;"
								action="#{buyAction.setSizeParameter}" immediate="true"
								disabled="#{buyAction.walletEmpty}">
								<p:ajax process="tabs:buyHidden" update="tabs:sizeSliderVal" />
							</h:commandButton>
						</div>
						<div id="actions" class="form-group">
							<h:commandButton id="cancel" value="#{text['button.cancel']}"
								styleClass="btn btn-default" style="width: 100px; height: 40px;"
								action="#{buyAction.cancel}" immediate="true" />
							<p:spacer width="50" height="10" />
							<h:commandButton id="buy" value="#{text['button.buy']}"
								styleClass="btn btn-primary" style="width: 100px; height: 40px;"
								action="#{buyAction.buyPostePay}"
								disabled="#{buyAction.walletEmpty}" />
						</div>
					</p:tab>
					<p:tab>
						<f:facet name="title">
							<i class="fa fa-info"></i>
							<h:outputText
								value=" #{text['website.home.paymentMethods.postepay.howToBuy']}" />
						</f:facet>
						<p:panelGrid
							style="width: 80%; margin: 0 auto; border: hidden !important;">
							<p:row>
								<p:column rowspan="3" style="border: hidden !important;">
									<i class="fa fa-file-text fa-3x"></i>
								</p:column>
							</p:row>
							<p:row>
								<p:column style="border: hidden !important;border-width: 0px;"
									styleClass="text-left">
									<h:outputText
										value=" #{text['website.home.paymentMethods.postepay.howToOrder']}"
										escape="false" />
								</p:column>
							</p:row>
							<p:row>
								<p:column style="border: hidden !important;border-width: 0px;">
									<h:outputText
										value=" #{text['website.home.paymentMethods.postepay.howToOrder.message']}"
										escape="false" />
								</p:column>
							</p:row>
							<p:row>
								<p:column style="border: hidden !important;border-width: 0px;">
									<p style="text-align: center; font-size: 14px;">
										<i class="fa fa-long-arrow-down fa-2x"></i>
									</p>
								</p:column>
							</p:row>
							<p:row>
								<p:column rowspan="3" style="border: hidden !important;">
									<i class="fa fa-eur fa-3x"></i>
								</p:column>
							</p:row>
							<p:row>
								<p:column style="border: hidden !important;border-width: 0px;"
									styleClass="text-left">
									<h:outputText
										value=" #{text['website.home.paymentMethods.postepay.howToSend']}"
										escape="false" />
								</p:column>
							</p:row>
							<p:row>
								<p:column style="border: hidden !important;border-width: 0px;">
									<h:outputText
										value=" #{text['website.home.paymentMethods.postepay.howToSend.message']}"
										escape="false" />
								</p:column>
							</p:row>
							<p:row>
								<p:column style="border: hidden !important;border-width: 0px;">
									<p style="text-align: center; font-size: 14px;">
										<i class="fa fa-long-arrow-down fa-2x"></i>
									</p>
								</p:column>
							</p:row>
							<p:row>
								<p:column rowspan="3" style="border: hidden !important;">
									<i class="fa fa-check-circle fa-3x"></i>
								</p:column>
							</p:row>
							<p:row>
								<p:column style="border: hidden !important;border-width: 0px;"
									styleClass="text-left">
									<h:outputText
										value=" #{text['website.home.paymentMethods.postepay.howToConfirm']}"
										escape="false" />
								</p:column>
							</p:row>
							<p:row>
								<p:column style="border: hidden !important;border-width: 0px;">
									<h:outputText
										value=" #{text['website.home.paymentMethods.postepay.howToConfirm.message']}"
										escape="false" />
								</p:column>
							</p:row>
							<p:row>
								<p:column style="border: hidden !important;border-width: 0px;">
									<p style="text-align: center; font-size: 14px;">
										<i class="fa fa-long-arrow-down fa-2x"></i>
									</p>
								</p:column>
							</p:row>
							<p:row>
								<p:column rowspan="3" style="border: hidden !important;">
									<i class="fa fa-btc fa-3x"></i>
								</p:column>
							</p:row>
							<p:row>
								<p:column style="border: hidden !important;border-width: 0px;"
									styleClass="text-left">
									<h:outputText
										value=" #{text['website.home.paymentMethods.postepay.howToReceive']}"
										escape="false" />
								</p:column>
							</p:row>
							<p:row>
								<p:column style="border: hidden !important;border-width: 0px;">
									<h:outputText
										value=" #{text['website.home.paymentMethods.postepay.howToReceive.message']}"
										escape="false" />
								</p:column>
							</p:row>
						</p:panelGrid>
					</p:tab>
				</p:tabView>
			</div>
		</h:form>
	</ui:define>
	<ui:define name="scripts">
		<script>
			var $element = $('[id="tabs:size"]');
			$element.bootstrapSlider({
				formatter : function(value) {
					return '€' + value + ' / ฿' + value / 250;
				},
				//				tooltip : 'always',
				tooltip : 'hide',
				precision : 2,
				handle : 'square',
				min : 1,
				max : #{buyAction.walletBalanceEur}
			});
			$element.on("slide", function(slideEvt) {
				var $element2 = $('[id="tabs:sizeSliderVal"]');
				$element2.text('€' + slideEvt.value.toFixed(2) 
						+ ' / ฿' 
						+ (slideEvt.value / #{buyAction.pricePostePay}).toFixed(8));
				var $element4 = $('[id="sizeParameter"]');
				$element4.val('€' + slideEvt.value.toFixed(2) 
						+ ' / ฿' 
						+ (slideEvt.value / #{buyAction.pricePostePay}).toFixed(8));
				var $element3 = $('[id="tabs:buyHidden"]');
				$element3.click();
			});
			$element.on("slideStop", function(slideEvt) {
				var $element2 = $('[id="tabs:sizeSliderVal"]');
				$element2.text('€' + slideEvt.value.toFixed(2) 
						+ ' / ฿' 
						+ (slideEvt.value / #{buyAction.pricePostePay}).toFixed(8));
				var $element4 = $('[id="sizeParameter"]');
				$element4.val('€' + slideEvt.value.toFixed(2) 
						+ ' / ฿' 
						+ (slideEvt.value / #{buyAction.pricePostePay}).toFixed(8));
				var $element3 = $('[id="tabs:buyHidden"]');
				$element3.click();
			});
			var $_Tawk_API = {}, $_Tawk_LoadStart = new Date();
			(function() {
				var s1 = document.createElement("script"), s0 = document
						.getElementsByTagName("script")[0];
				s1.async = true;
				s1.src = 'https://embed.tawk.to/55450a61108e17b0186da424/default';
				s1.charset = 'UTF-8';
				s1.setAttribute('crossorigin', '*');
				s0.parentNode.insertBefore(s1, s0);
			})();			
			(function(i, s, o, g, r, a, m) {
				i['GoogleAnalyticsObject'] = r;
				i[r] = i[r] || function() {
					(i[r].q = i[r].q || []).push(arguments)
				}, i[r].l = 1 * new Date();
				a = s.createElement(o), m = s.getElementsByTagName(o)[0];
				a.async = 1;
				a.src = g;
				m.parentNode.insertBefore(a, m)
			})(window, document, 'script',
					'//www.google-analytics.com/analytics.js', 'ga');

			ga('create', 'UA-60248393-1', 'auto');
			ga('send', 'pageview');
		</script>
	</ui:define>
</ui:composition>
</html>