<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:f="http://java.sun.com/jsf/core">

<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	template="/layouts/defaultHome.xhtml">
	<ui:define name="title">#{text['404.title']}</ui:define>
	<ui:param name="bodyId" value="home" />
	<ui:define name="body">
		<h:form id="buyForm" prependId="false">
			<!-- div class="logo-header">#{text['404.heading']}</div -->
			<div class="col-md-12 text-center" style="font-size: 48px;">
				#{text['404.heading']}</div>
			<p:spacer width="100%" height="20" />
			<div id="payment-methods" class="row">
				<div class="col-md-3"></div>
				<div class="col-md-6">
					<div class="payment-method text-center">
						<h1 class="payment-method-title">
							<h:outputText
								value="#{text['website.home.paymentMethods.postepay']}" />
							<img src="#{request.contextPath}/images/postepay_evolution.png"
								style="width: 230px;" />
							<p:spacer width="100%" height="20" />
						</h1>
						<p class="fees-details-text">
							<h:outputText value="#{text['arbitrage.buyPrice']}: €" />
							<h:outputText id="price" value="#{buyAction.priceSell}">
								<f:convertNumber maxFractionDigits="2" />
							</h:outputText>
						</p>
					</div>
				</div>
				<div class="col-md-3"></div>
				<p:spacer width="100%" height="10" />
				<div class="col-md-12 text-center">
					<h:outputText value="#{text['website.home.paymentMethods.buy']}"
						escape="false" />
				</div>
				<p:spacer width="100%" height="10" />
				<div id="actions" class="form-group">
					<h:commandButton id="cancel" value="#{text['button.cancel']}"
						styleClass="btn btn-default" style="width: 100px; height: 40px;"
						action="cancel" immediate="true" />
				</div>
			</div>
			<p:spacer width="100%" height="70" />
		</h:form>
	</ui:define>
	<ui:define name="scripts">
		<script>
			var $_Tawk_API = {}, $_Tawk_LoadStart = new Date();
			(function() {
				var s1 = document.createElement("script"), s0 = document
						.getElementsByTagName("script")[0];
				s1.async = true;
				s1.src = 'https://embed.tawk.to/55450a61108e17b0186da424/default';
				s1.charset = 'UTF-8';
				s1.setAttribute('crossorigin', '*');
				s0.parentNode.insertBefore(s1, s0);
			})();
			(function(i, s, o, g, r, a, m) {
				i['GoogleAnalyticsObject'] = r;
				i[r] = i[r] || function() {
					(i[r].q = i[r].q || []).push(arguments)
				}, i[r].l = 1 * new Date();
				a = s.createElement(o), m = s.getElementsByTagName(o)[0];
				a.async = 1;
				a.src = g;
				m.parentNode.insertBefore(a, m)
			})(window, document, 'script',
					'//www.google-analytics.com/analytics.js', 'ga');

			ga('create', 'UA-60248393-1', 'auto');
			ga('send', 'pageview');
		</script>
	</ui:define>
</ui:composition>
</html>