<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:f="http://java.sun.com/jsf/core">

<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	template="/layouts/defaultHome.xhtml">
	<ui:define name="title">#{text['home.title']}</ui:define>
	<ui:param name="bodyId" value="home" />
	<ui:define name="body">
		<h:form id="successForm" prependId="false">
			<div class="email-wrapper">
				<div class="row">
					<div class="col-md-12 alert alert-success">
						<h:outputText value="#{buyAction.orderSubmittedSummary}"
							escape="false" />
						<h:outputText value="#{text['success.orderSubmittedReceipt']}"
							escape="false" />
						<p:spacer width="100%" height="5" />
						<div class="row">
							<p:inputText id="receiptEmail" value="#{buyAction.email}"
								placeholder="E-Mail" maxlength="40"
								style="text-align: center; width: 450px; border-radius: 0px; border: 1px solid #ddd;"
								required="true" />
							<p:spacer width="10" height="10" />
							<h:commandButton id="addEmail" value="#{text['button.receipt']}"
								styleClass="button btn btn-primary"
								style="width: 200px; height: 40px;"
								action="#{buyAction.addEmail}">
							</h:commandButton>
						</div>
						<p:spacer width="100%" height="5" />
						<h:outputText value="#{buyAction.orderSubmittedDetail}"
							escape="false" />
					</div>
					<p:spacer width="100%" height="10" />
					<div class="text-center">
						<h:commandButton id="home" value="#{text['button.done']}"
							styleClass="button btn btn-primary" immediate="true"
							style="width: 100px; height: 40px;" action="home" />
					</div>
				</div>
			</div>
			<p:spacer width="100%" height="120" />
		</h:form>
	</ui:define>
	<ui:define name="scripts">
		<script>
			(function(i, s, o, g, r, a, m) {
				i['GoogleAnalyticsObject'] = r;
				i[r] = i[r] || function() {
					(i[r].q = i[r].q || []).push(arguments)
				}, i[r].l = 1 * new Date();
				a = s.createElement(o), m = s.getElementsByTagName(o)[0];
				a.async = 1;
				a.src = g;
				m.parentNode.insertBefore(a, m)
			})(window, document, 'script',
					'//www.google-analytics.com/analytics.js', 'ga');
			ga('create', 'UA-58137844-1', 'auto');
			ga('send', 'pageview');
		</script>
	</ui:define>
</ui:composition>
</html>